<mat-toolbar class="toolbar">
  <span>
    <fa-icon class="icon" [icon]="faHome"></fa-icon>
  </span>
</mat-toolbar>

<div class="components">
  <div>
    <justin-marotta-buttons class="component"></justin-marotta-buttons>
    <justin-marotta-users class="component"></justin-marotta-users>
  </div>

  <justin-marotta-datatable class="component"></justin-marotta-datatable>
</div>

<mat-toolbar class="footer">
  <span>
    <fa-icon
      class="icon"
      [icon]="faCopyright"
      [style]="{ color: 'black', 'font-size': '16px' }"
    ></fa-icon>
  </span>
  <span style="padding-left: 6px">Justin Marotta 2021</span>
</mat-toolbar>

<!-- <div style="text-align: center">
  <h1>Welcome to ng-nest-tutorial!</h1>
  <img
    width="450"
    src="https://raw.githubusercontent.com/nrwl/nx/master/images/nx-logo.png"
    alt="Nx - Smart, Extensible Build Framework"
  />
</div>

<div class="footer">
  Justin Marotta
</div> -->
